.wrapper-main {
  min-height: 100vh;
  padding: 0 15px;
}
.sections-query {
  height: 100%;
}
.wrapper-main_apiUrl {
  margin: 10px auto;
  width: 80%;
  display: flex;
}
.wrapper-main_apiUrl input {
  height: 33px;
  border-radius: 5px;
  border: 1px solid #e06733;
  margin-left: 5px;
  width: 89%;
  color: #717171;
  font-size: 18px;
}
.wrapper-main_apiUrl input:focus {
  border: 2px solid #41d87b;
  box-shadow: 0 0 3px #41d87b;
  outline-offset: 0px;
  outline: none;
}
.wrapper-main_apiUrl button {
  height: 35px;
  border-radius: 5px;
  cursor: pointer;
  box-sizing: border-box;
  border: 1px solid #41d87b;
  border-radius: 5px;
  font-size: 14px;
  width: 10%;
  color: #41d87b;
}
/*.wrapper-main_json {
  border: 1px solid #717171;
  font-size: 15px;
  border-radius: 8px;
  color: #41d87b;
  overflow-x: auto;
}*/
textarea {
  overflow: auto;
  resize: none;
  width: 100%;
  height: 100%;
  background: #f6f6f6;
  border: 1px solid #717171;
  outline: none;
}

/*.wrapper-main_documentation {
  border-radius: 8px;
  color: #e06733;
  border-radius: 8px;
  border: 1px solid #717171;
  overflow-x: auto;
}
.wrapper-main_documentation pre {
  margin-left: 10px;
  margin-top: 5px;
  font-size: 15px;
}*/
.content-slider_documentation-button {
  height: 40px;
  width: 40px;
  cursor: pointer;
  display: block;
  margin: 0 auto;
  margin-top: 10px;
  transition: transform 0.5s;
  border: 2px solid #41d87b;
}
.content-slider_documentation-button:hover {
  transform: scale(1.1);
  background-color: #41d87b;
}
.wrapper-main_content {
  display: grid;
  gap: 10px;
  grid-template-columns: 50px 2fr 2fr;
  grid-template-rows: 700px;
}
.wrapper-main_sections {
  display: grid;
  grid-template-rows: 1fr 50px 0.1fr;
  border-radius: 8px;
}
.item_variables_headers {
  cursor: pointer;
  font-size: 14px;
  width: 48%;
  height: 28px;

  border: 1px solid #717171;
  border-radius: 2px;
}
.sections-qiery_textarea {
  border-radius: 8px 8px 0 0;
  font-size: 15px;
  color: #41d87b;
}
.sections-buttons_items {
  margin-top: 11px;
  display: flex;
  align-content: center;
  justify-content: space-between;
}

.sections_headers_variables {
  height: 100px;
  border: 1px solid #717171;
  border-radius: 8px;
  padding: 5px 5px 5px 5px;
}

.sections_headers_variables section {
  height: 99%;
}
.sections_headers_variables div {
  height: 100%;
}
.sections_variables_textarea {
  font-size: 15px;
  color: #e06733;
  border: none;
}
.sections_headers_textarea {
  border: none;
}
.sections_variables_1 textarea {
  background-color: white;
}
.sections_headers_1 textarea {
  font-size: 15px;
  color: #e06733;
}
.hidden {
  display: none;
}
@media screen and (max-width: 767px) {
  .wrapper-main_apiUrl button {
    width: 20%;
  }
}
@media screen and (max-width: 600px) {
  .wrapper-main {
    padding: 0 5px;
  }
  .wrapper-main_apiUrl {
    width: 60%;
  }
  /*.wrapper-main_documentation pre {
    font-size: 12px;
  }*/
  .item_variables_headers {
    font-size: 12px;
    width: 40%;
  }
  .content-slider_documentation-button {
    width: 30px;
    height: 30px;
  }
  .sections-qiery_textarea {
    font-size: 12px;
  }
  /*.wrapper-main_json {
    font-size: 12px;
  }*/
  .sections_variables_textarea {
    font-size: 12px;
  }
}
@media screen and (max-width: 450px) {
  .wrapper-main_apiUrl button {
    width: 30%;
    font-size: 12px;
  }
  .item_variables_headers {
    font-size: 10px;
  }
  .content-slider_documentation-button {
    width: 22px;
    height: 22px;
  }
  /*.wrapper-main_documentation pre {
    font-size: 11px;
  }*/
  .sections-qiery_textarea {
    font-size: 10px;
    line-height: 11px;
  }
  /*.wrapper-main_json {
    font-size: 11px;
  }*/
  .sections_variables_1 textarea {
    font-size: 10px;
    line-height: 8px;
  }
}
@media screen and (max-width: 390px) {
  .item_variables_headers {
    font-size: 8px;
  }
}
