.header {
  position: relative;
  height: 100px;
  left: 0px;
  top: 0px;
  background-color: #cbdfc7;
  padding: 0 30px;
  margin: 0 auto;
}
.wrapper {
  max-width: 1222px;
}
.header_wrapper {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  height: 50px;
  top: 25px;
}
.header_list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  align-items: center;
}
.navbar {
  display: flex;
  align-items: center;
  height: 50px;
}
.header-nav_welcome {
  display: flex;
  flex-wrap: wrap;
}
.button {
  width: 158px;
  height: 44px;
  box-sizing: border-box;
  border: 2px solid #f1ebe8;
  border-radius: 10px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  transition: all 500ms ease;
  cursor: pointer;
  margin-right: 40px;
  background-color: beige;
  color: #717171;
  /* transition: 1s;*/
}
.button:hover {
  /*transform: scale(1.1);*/
  background-position: 0 100%;
  background-color: #499a18;
}
.header_item {
  margin-right: 46px;
}

.header_link {
  color: #010201;
  text-decoration: none;
}
.header_link_welcome {
  color: #e06733;
  text-decoration: none;
  list-style: none;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  cursor: pointer;
  text-decoration: none;
}
.header_link:hover,
.header_link:focus,
.header_link:active {
  color: #e06733;
}
a {
  text-decoration: none;
}
@media screen and (max-width: 767px) {
  .header_wrapper {
    height: 50px;
    top: 20px;
  }
  .button {
    width: 100px;
    height: 30px;
    border-radius: 8px;
    font-size: 12px;
    margin-right: 0px;
  }
  .header_link_welcome {
    font-size: 14px;
  }
  .button:first-child {
    margin-right: 20px;
  }
  .header {
    padding: 0 20px;
  }
}
@media screen and (max-width: 450px) {
  .button {
    width: 80px;
    height: 25px;

    margin-right: 0px;
  }
  .header {
    padding: 0 10px;
  }
}
@media screen and (max-width: 390px) {
  .header {
    padding: 0 5px;
  }
  .button {
    width: 70px;
    height: 25px;
    font-size: 12px;
  }
  .header_link_welcome {
    font-size: 12px;
  }
}
