.footer {
  position: relative;
  height: 130px;
  left: 0px;
  top: 2px;
  padding: 20px;
  background-color: #f0f0f0;
}
.footer_wrapper {
  display: flex;
  max-width: 1222px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
  height: 50px;
  border-width: medium;
}
.column-left {
  float: left;
  width: 182px;
  text-align: center;
}
.column-right {
  /*position: relative;*/
  bottom: 40px;
  /*float: right;*/
  width: 100px;
  text-align: center;
}
.column-center {
  width: 211px;
  margin: 0 auto;
}
.column_left_list {
  display: flex;
  list-style: none;
  width: 182px;
  justify-content: space-between;
  padding: 0;
  margin: 0;
  height: 50px;
}
.left_list_item {
  margin-right: 20px;
}
.column_left_list li a img {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 50px;
  color: #000000;
  height: 19px;
  position: relative;
  top: 4px;
}
.left_list_item:last-child {
  margin-right: 13px;
}
.left_list_item span {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 50px;
  color: #000000;
}
.left_list_item,
.github {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 50px;
  color: #000000;
  text-decoration: none;
}
.column-center a {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 50px;
  color: #000000;
  margin: 0px;
  text-decoration: none;
}
.social_list {
  position: relative;
  top: 10px;
  display: flex;
  list-style: none;
  width: 188px;
  justify-content: space-between;
  padding: 0;
  margin: 0;
  height: 50px;
}

@media (max-width: 767px) {
  .left_list_item span {
    font-size: 20px;
  }
  .left_list_item,
  .github {
    font-size: 20px;
  }
  .column-center a {
    font-size: 20px;
  }
  .column-right {
    width: 80px;
    margin-top: 10px;
  }
  .left_list_item:last-child {
    margin-right: 20px;
  }
}
@media (max-width: 600px) {
  .footer {
    padding: 10px;
  }
  .column-center a {
    font-size: 20px;
    line-height: 30px;
  }

  .column-right {
    margin-top: 15px;
  }
  .column-center {
    text-align: center;
    margin-top: 10px;
    width: 130px;
  }
  .column-left {
    width: 122px;
  }
}
@media (max-width: 530px) {
  .left_list_item:last-child {
    margin-right: 40px;
  }
  .column-center a {
    font-size: 18px;
    line-height: 30px;
  }
  .left_list_item span {
    font-size: 18px;
  }
  .left_list_item,
  .github {
    font-size: 18px;
  }
  .column-right {
    width: 60px;
  }
}
@media (max-width: 450px) {
  .footer {
    padding: 5px;
  }
  .column-center a {
    font-size: 14px;
  }
  .column-center {
    width: 123px;
  }
  .left_list_item span {
    font-size: 14px;
  }
  .left_list_item,
  .github {
    font-size: 14px;
  }
  .column-right {
    width: 50px;
  }
  .left_list_item:last-child {
    margin-right: 90px;
  }
  .column-left {
    width: 90px;
  }
}
